{
  "plugins": [
    [ "styled-components", { "displayName": false, "ssr": true }],
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "react-loadable/babel"
  ],
  "presets": [
    ["env", { "modules": false }],
    "flow",
    "react"
  ],
  "retainLines": true,
  "env": {
    "development": {
      "plugins": [
          [ "styled-components", { "fileName": false, "ssr": true }],
          "react-hot-loader/babel"
        ]
    },
    "test": {
      "plugins": [
        [ "styled-components", { "fileName": false }],
        "transform-class-properties",
        "dynamic-import-node"
      ],
      "presets": ["env", "react"]
    }
  }
}