{
  "plugins": [
    [ "styled-components", { "displayName": false, "ssr": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "react-loadable/babel"
  ],
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "retainLines": true,
  "env": {
    "development": {
      "plugins": [
          [ "styled-components", { "fileName": false, "ssr": true }],
          "react-hot-loader/babel"
        ]
    },
    "test": {
      "plugins": [
        [ "styled-components", { "fileName": false }],
        "@babel/plugin-proposal-class-properties",
        "dynamic-import-node"
      ],
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}