{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "react-loadable/babel"
  ],
  "presets": [
    ["env", { "modules": false }],
    "flow",
    "react"
  ],
  "retainLines": true,
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": ["transform-class-properties", "dynamic-import-node"],
      "presets": ["env", "react"]
    }
  }
}