:root {
  --color-primary: rgb(245, 83, 99);
  --color-primary-light: rgba(245, 83, 99, 0.6);
  --focus: 3px solid var(--color-primary-light);
  --color-default: #555;
  --color-alt: #777;
  --color-text-light: #fafafa;
  --color-text-alt: #999;
  --color-bc-alt: rgba(0, 0, 0, 0.9);

  --padding-content: 1rem 2rem;
  --padding-content-sm: 2rem 3em;
  --padding-content-md: 1rem 15%;
  --padding-content-lg: 2rem 10%;

  --padding-controls: 1rem 2rem;
  --padding-controls-sm: 1.5rem 3rem;
  --padding-controls-md: 2rem 5rem;
  --padding-controls-lg: 2rem 5rem;

  --padding-button: 0.6rem 2rem;
  --padding-input: 0.7rem;
  --padding-button-small: 0.25rem 1.5rem;
  --margin-input: 1rem;
  --transition-duration: 350ms;
}

@custom-media --viewport-small (width >= 768px) and (width < 992px);
@custom-media --viewport-medium (width >= 992px) and (width < 1200px);
@custom-media --viewport-large (width >= 1200px);

@custom-media --viewport-bigger (width >= 768px);
