:root {
  --color-primary: rgb(245, 83, 99);
  --color-primary-light: rgba(245, 83, 99, 0.6);
  --focus: 3px solid var(--color-primary-light);
  --color-default: #555;
  --color-alt: #777;
  --color-text-light: #fafafa;
  --color-text-alt: #999;
  --color-bc-alt: rgba(0, 0, 0, 0.9);
  --padding-content: 2em 3em;
  --padding-controls: 2em 5em;
  --padding-button: 0.6em 2em;
  --padding-input: 0.7em;
  --padding-button-small: 0.25em 1.5em;
  --margin-input: 1em;
  --transition-duration: 350ms;

  /* MIXINS */
  --hover-effect: {
    transition: background-color var(--transition-duration),
                box-shadow var(--transition-duration);

    &:hover {
      box-shadow: 0 0 20px var(--color-primary), 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

/* MEDIA QUERIES (will not work in browsers that don't support custom properties) */
@media (min-width: 1200px) {
  :root {
    --padding-content: 2em 10%;
  }
}

@media (min-width: 900px) {
  :root {
    --padding-controls: 1em 15%;
  }
}

@media (max-width: 600px) {
  :root {
    --padding-controls: 1em 1em;
  }
}
