.film-grid {
  display: grid;
  grid-gap: 3.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  padding: 2em 3em 3.5em;
}

@media (min-width: 1200px) {
  .film-grid {
    padding: 2em 10% 3.5em;
  }
}
