@import '../styles/variables.css';

.search-results-panel {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-text-light);

  /* flex-columns */
  flex-direction: column;

  & > * + * {
    margin-top: 1rem;
  }
}

@media (--viewport-bigger) {
  .search-results-panel {
    /* flex-rows (cancels flex-columns ) */
    flex-direction: row;

    & > * + * {
      margin-top: 0;
    }
  }
}