@import './styles/variables.css';
@import './styles/helpers.css';

@font-face {
  font-family: 'Regular';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf') format('opentype');
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: var(--color-default);
}

body,
input {
  font-family: 'Regular', serif;
}

*:focus {
  outline: var(--focus);
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-text-light);
}

h1 {
  color: var(--color-primary);
  font-weight: bold;
}

/* LAYOUT */

.root-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

header,
main,
footer {
  flex-shrink: 0;
}

/* PHONE LINKS */

a[href^='tel:']:before {
  display: inline-block;
  content: '\1F57F';
  margin-right: 0.5rem;
  text-decoration: none;
}
