@import './styles/variables.css';
@import './styles/helpers.css';

@font-face {
  font-family: 'Regular';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf') format('opentype');
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--color-default);
}

body,
input {
  font-family: 'Regular', serif;
}

*:focus {
  outline: var(--focus);
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-text-light);
}

h1 {
  color: var(--color-primary);
  font-weight: bold;
}

/* LAYOUT */

.root-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

header,
main,
footer {
  flex-shrink: 0;
}

/* PHONE LINKS */

a[href^='tel:']:before {
  display: inline-block;
  content: '\1F57F';
  margin-right: 0.5em;
  text-decoration: none;
}

/* BUTTONS */
.button {
  display: flex;
  padding: var(--padding-button);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  transition: background-color var(--transition-duration),
              box-shadow var(--transition-duration);
  box-sizing: border-box;
  border: none;
  color: var(--color-text-light);
  user-select: none;

  @apply --hover-effect;
}

.button--small {
  padding: var(--padding-button-small);
  font-size: 1em;
}

.button--primary {
  background-color: var(--color-primary);
}

a.button--primary {
  color: var(--color-text-light);
}

/* FORM */
.form-row {
  display: flex;
  align-items: center;
}

.form-row + .form-row {
  padding-top: var(--margin-input);
}

.form-label {
  margin-right: var(--margin-input);
}

.text-input {
  width: 100%;
  font-family: 'Regular';
  font-size: 1.3em;
  background-color: var(--color-bc-alt);
  border: none;
  border-bottom: 2px solid var(--color-primary);
  padding: var(--padding-input);
  color: var(--color-text-light);
}
