@font-face {
  font-family: 'Regular';
  src: url('./assets/fonts/TitilliumWeb-Regular.ttf') format('opentype');
}

/*
@font-face {
  font-family: 'Regular Bold';
  src: url('./assets/fonts/TitilliumWeb-Bold.ttf') format('opentype');
}*/

:root {
  --color-primary: rgb(245, 83, 99);
  --color-primary-light: rgba(245, 83, 99, 0.6);
  --focus: 3px solid var(--color-primary-light);
  --color-default: #555;
  --color-alt: #777;
  --color-text-light: #fafafa;
  --color-text-alt: #999;
  --color-bc-alt: rgba(0, 0, 0, 0.9);
  --padding-content: 1em 5em;
  --padding-button: .6em 2em;
  --padding-input: .7em;
  --padding-button-small: 0.25em 1.5em;
  --margin-input: 1em;
  --transition-duration: 350ms;
}

@media (min-width: 900px) {
  :root {
    --padding-content: 1em 15%;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--color-default);
}

body,
input {
  font-family: 'Regular', serif;
}

*:focus {
  outline: var(--focus);
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-text-light);
}

/* HELPERS */

.primary {
  color: var(--color-primary);
}

.color-alt {
  color: var(--color-alt);
}

.alt-background {
  background-color: var(--color-bc-alt);
}

.alt-background label {
  color: var(--color-text-light);
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: 80%;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.centered {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */

.root-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

header,
main,
footer {
  flex-shrink: 0;
}

header,
footer {
  padding: var(--padding-content);
}

/* COMPONENTS */

.site-name {
  color: var(--color-primary);
  font-weight: 700;
}

.search-form-container {
  padding: var(--padding-content)
}

.empty-search-message {
  font-size: 5em;
  font-weight: 700;
  color: var(--color-text-alt)
}

.search-results-panel {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-content);
}

/* BUTTONS */
.button {
  display: flex;
  padding: var(--padding-button);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
  box-sizing: border-box;
  border: none;
  color: var(--color-text-light);
  user-select: none;
}

.button:hover {
  box-shadow: 0 0 20px var(--color-primary), 2px 2px 2px #000;
}

.button--small {
  padding: var(--padding-button-small);
  font-size: 1em;
}

.button--primary {
  background-color: var(--color-primary);
}

/* FORM */
.form-row {
  display: flex;
  align-items: center;
}

.form-row + .form-row {
  padding-top: var(--margin-input);
} 

.form-label {
  margin-right: var(--margin-input);
}

.text-input {
  width: 100%;
  font-family: 'Regular';
  font-size: 1.3em;
  background-color: var(--color-bc-alt);
  border: none;
  border-bottom: 2px solid var(--color-primary);
  padding: var(--padding-input);
  color: var(--color-text-light);
}

/* RADIO INPUT */
.radio-input {
  margin-right: var(--margin-input);
}

.radio-input input {
  opacity: 0;
  position: absolute;
}

.radio-input--style-button .radio-input__label {
  display: flex;
  padding: var(--padding-button-small);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
  box-sizing: border-box;
  border: none;
  color: var(--color-text-light);
  background-color: var(--color-default);
  user-select: none;
}

.radio-input--style-button .radio-input__label:hover {
  box-shadow: 0 0 20px var(--color-primary), 2px 2px 2px #000;
}

.radio-input--style-button input:checked + .radio-input__label {
  background-color: var(--color-primary);
}

.radio-input--style-plain .radio-input__label {
  padding: 0.25em 0.5em;
}

.radio-input--style-plain input:checked + .radio-input__label {
  color: var(--color-primary);
}

.radio-input input:focus + .radio-input__label {
  outline: var(--focus);
}

/*
  FILM GRID
*/

.film-grid {
  display: grid;
  grid-gap: 3.5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: center;
  padding: 2em 3em 3.5em;
}

@media (min-width: 1200px) {
  .film-grid {
    padding: 2em 10% 3.5em;
  }
}

.film-grid-item {
  display: flex;
  flex-direction: column;
}

.film-grid-item__cover {
  max-width: 100%;
  margin-bottom: .5em;
}

.film-grid-item__row {
  padding: .4em .5em
}

.film-grid-item__title {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.film-grid-item__date {
  border: solid 1px var(--color-alt);
  padding: .1em .5em;
  border-radius: .2em;
  margin-left: 1em;
}